<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">
    <title>Hello, Spring Boot!</title>
  </head>

  <body>
    <p class="mb-5" th:fragment="menu">
        <a href="/docs/5.1/examples/" class="btn btn-primary btn-lg px-4">홈</a>
        <a href="/docs/5.1/examples/" class="btn btn-primary btn-lg px-4">게시판</a>
    </p>
  </body>
</html>